/*******************FONTS***************************/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 0px 1px 0px rgb(180,150,240);
}

h1 {
    font-size: 2.5em;
    margin: 0px;
    padding: 50px 0px 20px 0px;
}

h2 {
    font-size: 2em;
    margin: .5em 0px;
}

h6 {
    font-size: 1em;
    margin: .8em 0px;
}

p, a, button, .small-text, small {
    font-family: Nunito, sans-serif;
    /*text-shadow: 0px 1px 0px rgb(180,150,240);*/
}

.small-text {
    font-size: .8em;
    margin: .5em 0px;
}

/**********END OF FONTS********************/

body {
    background: rgb(154,58,180);
    /*background: linear-gradient(16deg, rgba(154,58,180,1) 15%, rgba(253,29,64,1) 50%, rgba(252,166,69,1) 94%);*/
    /*background: linear-gradient(16deg, rgba(230,100,255,1) 15%, rgba(255,129,164,1) 50%, rgba(255,255,169,1) 94%);*/
    background: linear-gradient(16deg, rgb(80,50,140) 15%, rgb(180,150,240) 50%, #00e0ff 94%);
    background-size: cover;
    background-attachment: fixed;
    /*margin-top: -21px;*/
}

body::-webkit-scrollbar {
    display: none;
}

.App {
    text-align: center;
    /*height: 100vh;*/
}

/******************************Menu******************************************/

.hamburger, .closeMenu, .homeButton {
    font-size: 2em;
    position: fixed;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 1000;
}

.homeButton {
    margin-left: 40px;
}

.button-menu {
    color: white;
    position: absolute;
    margin: 10px 10px;
    cursor: pointer;
}

.button-menu a {
    color: white;
}

#hamburger-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 20vw;
    height: 100vh;
    transition: transform .3s cubic-bezier(0, .52, 0, 1); /*MAKE THIS BETTER*/
    overflow: scroll;
    z-index: 1000;
    background-color: rgba(30, 0, 60, .9);
    color: white;
}

#hamburger-menu::-webkit-scrollbar {
    display: none;
}

#hamburger-menu.hide {
    transform: translate3d(0,-100vh,0);
}

#hamburger-menu.show {
    transform: translate3d(0,0,0);
    overflow: hidden;
}

#hamburger-menu h1 {
    padding: 0px;
}

#hamburger-menu a {
    color: white;
    text-decoration: none;
}

#hamburger-menu ul {
    text-align: left;
    padding-left: 10px;
    margin-top: 0px;
}

#hamburger-menu li {
    list-style: none;
    padding: 30px 10px 30px 20px;
    border-bottom: 1px solid white;
}

#hamburger-menu-content {
    margin-top: 70px;
}

.main-content {
    /*height: 90vh;*/
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-links li {
    padding: 0px 5px;
}

/**************************************End Menu************************************/

.horizontal-section {
    position: relative;
    width: 100vw;
    min-height: 90vh;
}

.sticky-inner-container {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.home-component {
    height: 100vh;
    width: 100vw;
    top: 0;
}

.home-component h3 {
    font-family: 'Playball';
    font-size: 3em;
}

.landing-home-component {
    width: 100vw;
    margin: 0px auto;
    padding-top: 10%;
    z-index: 200;
    position: absolute;
    background: radial-gradient(rgba(255,255,255,.5), rgba(255,255,255,0) 70%);
    color: #e1e1e1;
}

.landing-home-component h1 {
    font-size: 3em;
    text-shadow: 1px -1px 25px black, 1px 1px 2px #5b5b5b, -1px -1px 2px #5b5b5b;
    padding-bottom: 0px;
}

.landing-home-component h2 {
    font-size: 2.3em;
    text-shadow: 1px -1px 25px black, 1px 1px 1px #5b5b5b, -1px -1px 1px #5b5b5b;
    margin-bottom: 40px;
}

.landing-home-component h4, h5 {
    font-family: Nunito, sans-serif;
    text-shadow: 1px -1px 10px black;
    margin: 0px;
}

.landing-home-component h4 {
    font-size: 1.4em;
}

.landing-home-component h5 {
    font-size: 1em;
}

.landing-home-component a {
    color: lightblue;
}

.landing-home-component .link {
    margin-top: 30px;
}

.red-circle {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50px;
}

.parallax-top {
    display: flex;
    flex-direction: row;
}

.parallax-img {
    bottom: 0;
}

.parallax-img img {
    height: 100vh;
}


/***********************************not using rn******************************/

.portfolio-highlights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.portfolio-home-component {
}

.portfolio-highlight {
    width: 400px;
    height: 300px;
    background-color: lightblue;
    margin: 10px;
}

.portfolio-highlight-effect {   /*Do something about this- there's probably something more clever available like held in state*/
    position: fixed;
    background-color: rgba(0,0,0,.5);
    color: white;
    /*width: 40%;*/
    height: 300px;
    margin: 0px 10px 10px 0px;
}

/******************end of not using rn**********************/


.portfolio-content {
    margin-bottom: 0px;
}

.portfolio-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.portfolio-button {
    box-shadow: inset 0px 1px 0px 0px #fbafe3;
    background: linear-gradient(to bottom, rgb(80,50,140) 5%, rgb(30, 0, 60) 100%);
    background-color: rgb(30,0,60);
    border-radius: 6px;
    border: 1px solid rgb(30,0,60);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    margin: 3px;
}

    .portfolio-button:hover {
        background: linear-gradient(to bottom, rgb(30, 0, 60) 5%, rgb(80,50,140) 100%);
        background-color: #ef027d;
    }

    .portfolio-button:active {
        position: relative;
        top: 1px;
    }

.portfolio-titles {
    height: 35vh;
}

.portfolio-container {
    -webkit-columns: 3 400px;
        -moz-columns: 3 400px;
        columns: 3 400px;
    margin: 10px 3px;
}

.portfolio-container-wrapper {
    height: 65vh;
    overflow-y: scroll;
    margin: 0px 40px;
}

.portfolio-container-wrapper::-webkit-scrollbar {
    width: 7px;
}

    .portfolio-container-wrapper::-webkit-scrollbar-thumb {
        background: rgb(30, 0, 60);
        border-radius: 5px;
    }

    .portfolio-container-wrapper::-webkit-scrollbar-track {
        width: 10px;
        background: none;
    }

.portfolio-item {
    background-color: rgba(255,255,240,.7);
    margin-bottom: 10px;
    margin-left: 6px;
    padding: 5px 0px 4px 0px;
    -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    box-shadow: rgba(0,0,0,.7) -4px 4px 8px;
}

.portfolio-image {
    max-width: 100%;
    height: auto;
}

.portfolio-arrow {
    font-size: 1.6em;
}

#portfolio-description-container {
    margin: 5% 5%;
    text-align: left;
}

#portfolio-description-container p {
    margin: 0px;
}

#portfolio-description-container.show {
    display: block;
}

#portfolio-description-container.hide {
    display: none;
}

.portfolio-text {
    padding: 5px;
}

/**************************SKILLS PAGE*************************/

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills-grid {
    display: grid;
    grid-template-columns: 100px 150px 50px 150px 100px;
    grid-template-rows: 150px 50px 50px 50px 150px;
}

.main-skills-circle, .small-skills-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-skills-circle p {
    font-size: 1.3em;
    color: white;
    text-shadow: -2px 1px 2px #292929;
}

.main-skills-circle p {
    font-size: 2em;
    color: white;
    text-shadow: -2px 2px 5px black;
}

.main-skills-circle small {
    font-size: .5em;
}

.main-skills-circle {
    width: 250px;
    height: 250px;
    background: radial-gradient(circle, rgb(231, 56, 0) 15%, rgb(239, 111, 30) 50%, rgb(255, 156, 0) 94%);
    border-radius: 50%;
    box-shadow: -7px 7px 10px black;
    grid-column-start: 3;
    grid-row-start: 3;
    justify-self: center;
    align-self: center;
}

.small-skills-circle.show {
    background: radial-gradient(circle, rgb(255, 172, 0) 15%, rgb(255, 193, 0) 50%, rgb(252, 245, 69) 94%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: -4px 4px 10px black;
}

.small-skills-circle.hide {
    display: none;
}

#item1 {
    grid-row-start: 1;
    grid-column-start: 2;
}

#item2 {
    grid-row-start: 1;
    grid-column-start: 4;
}

#item3 {
    grid-row-start: 2;
    grid-column-start: 1;
}

#item4{
    grid-row-start: 2;
    grid-column-start: 5;
    justify-self: end;
}

#item5 {
    grid-row-start: 5;
    grid-column-start: 2;
}

#item6 {
    grid-row-start: 5;
    grid-column-start: 4;
}

.resume-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.resume-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(209, 0, 81) 15%, rgb(235, 0, 119) 50%, rgb(255, 66, 136) 94%);
    color: white;
    text-shadow: -2px 2px 3px black;
    font-size: 1.2em;
    box-shadow: -4px 4px 10px black;
    border: none;
}

    .resume-button:hover {
        background: radial-gradient(circle, rgb(255, 66, 136) 94%, rgb(235, 0, 119) 50%, rgb(209, 0, 81) 15% );
        cursor: pointer;
    }

.resume-button:active {
    position: relative;
    top: 1px;
}

/*************************END SKILLS PAGE*********************/

/*************************ABOUT PAGE**************************/

.about-subtitle {
    padding: 10px 10px;
    color: white;
    background-color: rgba(0,0,0,.5);
}

.about-bio {
    background-color: rgba(255,255,255,.8);
    color: black;
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-bio a {
    color: #5500ad;
}

.about-bio-image {
    max-height: 70vh;
}

.about-bio-text {
    padding: 3% 5%;
}

/***************************ABOUT MODALS****************************/

.cause-modal-wrapper, .pets-modal-wrapper, .social-modal-wrapper {
    position: fixed;
    z-index: 500;
    width: 80%;
    box-sizing: border-box;
    /*max-height: 70%;*/
    overflow-y: scroll;
    overflow-x: hidden;
    /*transition: all 2s ease-out;*/   /*This doesn't work*/
}

    .cause-modal-wrapper::-webkit-scrollbar {
        width: 7px;
    }

    .cause-modal-wrapper::-webkit-scrollbar-thumb {
        background: rgb(30, 0, 60);
        border-radius: 5px;
    }

    .cause-modal-wrapper::-webkit-scrollbar-track {
        width: 10px;
        background: none;
    }    
    
    .pets-modal-wrapper::-webkit-scrollbar {
        width: 7px;
    }

    .pets-modal-wrapper::-webkit-scrollbar-thumb {
        background: rgb(30, 0, 60);
        border-radius: 5px;
    }

    .pets-modal-wrapper::-webkit-scrollbar-track {
        width: 10px;
        background: none;
    }    
    
    .social-modal-wrapper::-webkit-scrollbar {
        width: 7px;
    }

    .social-modal-wrapper::-webkit-scrollbar-thumb {
        background: rgb(30, 0, 60);
        border-radius: 5px;
    }

    .social-modal-wrapper::-webkit-scrollbar-track {
        width: 10px;
        background: none;
    }

.cause-modal-wrapper {
    left: 0;
}

.pets-modal-wrapper {
    margin: auto;
    left: 0;
    right: 0;
}

.social-modal-wrapper {
    right: 0;
}

#about-modal.hide {
    display: none;
}

.about-modal-button {
    height: 3em;
    width: 33.333333333%;
    z-index: 400;
    display: inline-block;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    text-shadow: 0px 1px 0px #263666;
}

    .about-modal-button:hover {
        background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    }

    .about-modal-button:active {
        position: relative;
        top: 1px;
    }

.cause-modal {
    background: linear-gradient(#2398a2, #7fefff);
    padding: 20px;
}

#cause-modal-button {
    background: linear-gradient(#00e0ff, #2398a2);
}

    #cause-modal-button:hover, #cause-modal-button:active {
        background: linear-gradient(#2398a2, #00e0ff);
    }

.causes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
}

.single-cause {
    background: rgba(255,255,255,.7);
    width: 45%;
    text-align: left;
    align-items: center;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    }

    .single-cause h3 {
        padding: 0px 40px;
    }

    .single-cause p {
        padding: 0px 40px;
    }

.pets-modal {
    background: linear-gradient(#c92c9d, #fdb6f6);
}

.pets-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pets-wrapper {
    background-color: rgba(255,255,255,.6);
    width: 750px;
    padding: 2% 0px;
}

.pets-images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pets-names-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pets-modal-button {
    background: linear-gradient(#ff40ec, #c92c9d);
}

    #pets-modal-button:hover, #pets-modal-button:active {
        background: linear-gradient(#a2237e, #ff00e5);
    }

.social-modal {
    background: linear-gradient(#23a234, #94ffa2);
    padding: 10px;
}

#social-modal-button {
    background: linear-gradient(#00ff21, #23a234);
}

    #social-modal-button:hover, #social-modal-button:active {
        background: linear-gradient(#23a234, #00ff21);
    }

.social-network-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
}

.single-social-network {
    background: rgba(255,255,255,.7);
    width: 45%;
    text-align: left;
    align-items: center;
    padding: 15px;
}

.single-social-network a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.single-social-network p {
    padding: 0px 40px;
}

/***************************END ABOUT MODAL******************************/
