body {
    background: rgb(154,58,180);
    background: linear-gradient(16deg, rgba(154,58,180,1) 15%, rgba(253,29,64,1) 50%, rgba(252,166,69,1) 94%);
    background-size: cover;
    background-attachment: fixed;
}

.App {
    text-align: center;
    height: 100vh;
}

.main-content {
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aquamarine;
    position: fixed;
    width: 100%;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-links li {
    padding: 0px 5px;
}

.horizontal-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.sticky-inner-container {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.cards-container {
    position: relative;
    height: 100%;
    padding: 0 0 0 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.home-component {
    position: relative;
    height: 80vh;
    width: 70vw;
    background-color: white;
    margin-right: 50px;
    flex-shrink: 0;
}

.portfolio-content {
    margin-bottom: 0px;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 80vh;
    margin-bottom: 0px;
    overflow: scroll;
}

.portfolio-container::-webkit-scrollbar {
    display: none;
}

.portfolio-item {
    background-color: white;
    margin: 10px;
    width: 30%;
}

.portfolio-image {
    max-width: 100%;
    height: auto;
}

.portfolio-text {
    padding: 5px;
}

.bio-wrapper {
    display: flex;
    flex-direction: row;
}

.bio-image {
    width: 250px;
}